<div class="header">
  <nav>
    <a class="link-main" href="/#/">InstaGroot</a>
    <a class="link-picto" href="/#/post"><i class="fa fa-camera-retro fa-2x"></i><br>Groot ta face !</a>
    <a class="link-picto" ng-click="logout()"><i class="fa fa-sign-out fa-2x"></i><br>Logout</a>
    <a class="link-user" href="/#/edit">{{user[0].username}}</a>
  </nav>
</div>

<div class="under-hearder"></div>

<h1 class="font-satisfy">InstaGroot</h1>

<div class="centerify">
  <h2>{{title}}</h2>

  <form ng-submit="sendMsg()">
    <input placeholder="écris un message" type="text" ng-model="text">
    <button type="submit">Papoto !</button>
  </form>
</div>

<div class="conv" ng-repeat="msg in messages | orderBy: 'created_at':true">
  <h4>{{msg.author}}</h4>
  <p style="margin-top: 20px">{{msg.text}}</p>
</div>
