<div class="header">
  <nav>
    <a class="link-main" href="/#/">InstaGroot</a>
    <a class="link-picto" href="/#/post"><i class="fa fa-camera-retro fa-2x"></i><br>Groot ta face !</a>
    <a class="link-picto" ng-click="logout()"><i class="fa fa-sign-out fa-2x"></i><br>Logout</a>
    <a class="link-user" href="/#/edit">{{user[0].username}}</a>
  </nav>
</div>

<h1 class="font-satisfy">InstaGroot</h1>

<div class="center">
  <div ng-show="editing">
    <div>username : {{user[0].username}}</div>
    <div>name : {{user[0].name}}</div>
    <div>lastname : {{user[0].lastname}}</div>
    <button ng-click="change()">edito</button>
  </div>

  <form ng-submit="askPassword()"ng-show="okPassword">
    <input type="password" placeholder="password" ng-model="askPass">
    <button type="submit">OK</button>
  </form>

  <div ng-hide="editing">
    <form ng-hide="log" ng-submit="editUser()">
      <input type="text" placeholder="username : {{user[0].username}}"
             ng-model="username"
             ng-minlength="3"
             ng-maxlength="20"
             >
      <input type="password" placeholder="Nouveau password"
             ng-model="password"
             ng-minlength="6"
             ng-maxlength="20"
             >
      <input type="password" placeholder="confirm password"
             ng-model="passwordConf"
             ng-minlength="6"
             ng-maxlength="20"
             >
      <input type="text" placeholder="name : {{user[0].name}}"
             ng-model="name"
             ng-minlength="3"
             ng-maxlength="20"
             >
      <input type="password" placeholder="lastname : {{user[0].lastname}}"
             ng-model="lastname"
             ng-minlength="3"
             ng-maxlength="20"
             >
      <button type="submit">envoyado</button>
    </form>
  </div>
</div>
