<p>User : {{user}} || <a href="/#/edit">edit settings</a> - <a ng-click="logout()">Logout</a></p>

<h1>InstaGroot</h1>
<button class="photo"><a href="/#/post">Groot ta face !</a></button>
<button class="profil"><a href="/#/profile/{{user}}">Profil</a></button>

<div infinite-scroll='loadMore()'>
  <div ng-repeat="post in posts | orderBy: 'created_at':true | limitTo:limit">
    <div class="post-header"><h2 class="click" ng-click="goTo(post._id)">{{post.title}}</h2> by <h3><a href="/#/profile/{{post.author}}">{{post.author}}</a></h3></div>
    <img class="click {{post.filter}}" ng-click="goTo(post._id)" src="{{post.photo}}">
    <p>{{post.description}} <span ng-repeat="tag in post.tags"><a href="/#/main/search{{tag}}">{{tag}}</a><span>&nbsp</span></span></p>
  </div>
</div>