<div class="header">
  <nav>
    <a class="link-main" href="/#/">InstaGroot</a>
    <a class="link-picto" href="/#/post"><i class="fa fa-camera-retro fa-2x"></i><br>Groot ta face !</a>
    <a class="link-picto" ng-click="logout()"><i class="fa fa-sign-out fa-2x"></i><br>Logout</a>
    <a class="link-user" href="/#/edit">{{user}}</a>
  </nav>
</div>

<h1 class="font-satisfy">InstaGroot</h1>

<div class="post">
  <div class="post-header">
    <a class="post-username" href="/#/profile/{{post.author}}">{{post.author}}</a>
    <span id="date" am-time-ago="post.created_at"></span>
  </div>
  <img class="{{post.filter}}" src="{{post.photo}}">
  <div class="post-footer">
    <a class="post-username" href="/#/profile/{{post.author}}">{{post.author}}</a>
    <p>{{post.description}}</p><br>
    <span ng-repeat="tag in post.tags">
      <a href="/#/main/search{{tag}}">{{tag}}</a>
    </span>
  </div>
  <div class="message">
    <span ng-repeat="msg in post.message">
      <a class="post-username" href="/#/profile/{{msg.author}}">{{msg.author}}</a>
      <p>{{msg.text}}</p>
    </span>
  </div>
  <form class="papoter" ng-submit="sendMsg(post)">
    <input type="text" placeholder="Papoter..." ng-model="textMsg">
  </form>
</div>
