body {
  max-width: 600px;
  margin: 0 auto;
}

.font-satisfy {
  font-family: 'Satisfy', cursive;
  font-size: 60px;
  margin-top: 70px;
  margin-bottom: 70px;
  text-align: center;
}

footer {
  position: absolute;
  bottom: 0;
  padding-bottom: 30px;
}

nav a {
  display: block;
}

nav {
  position: absolute;
  right: 10%;
}

.admin p, .admin label {
  margin-bottom: 0;
}

.admin label {
  margin-top: 20px;
}

canva {
  display: none;
}

a, a:visited {
  color: #1368a7;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: #0d4872;
  text-decoration: none;
}

.photo {
  position: fixed;
  top: 10%;
  right: 5%;
}

.profil {
  position: fixed;
  top: 15%;
  right: 5%;
}

.click {
  cursor: pointer;
}

form#post input,
form#post textarea {
  width: 500px;
}

/*Posts style*/
.post {
  background-color: #fff;
  border: 2px solid #edeeee;
  border-radius: 3px;
  margin-bottom: 60px;
  width: 504px;
}

.post-username {
  font-weight: 600;
}

.post-header * {
  display: inline;
}

.post-header {
  width: 500px;
  height: 64px;
  padding: 14px 20px;
}

.post-header #date {
  color: #a5a7aa;
  position: relative;
  float: right;
}

.post-footer {
  margin-top: -10px;
  padding: 15px 24px;
}

.post-footer * {
  display: inline;
}

.post-footer p {
  margin-bottom: 0;
}

/*Filtres photo*/
.blur {
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}
.brightness {
  -webkit-filter: brightness(5);
  -moz-filter: brightness(5);
  -o-filter: brightness(5);
  -ms-filter: brightness(5);
  filter: brightness(5);
}
.contrast {
  -webkit-filter: contrast(8);
  -moz-filter: contrast(8);
  -o-filter: contrast(8);
  -ms-filter: contrast(8);
  filter: contrast(8);
}
.hue-rotate {
  -webkit-filter: hue-rotate(90deg);
  -moz-filter: hue-rotate(90deg);
  -o-filter: hue-rotate(90deg);
  -ms-filter: hue-rotate(90deg);
  filter: hue-rotate(90deg);
}
.hue-rotate2 {
  -webkit-filter: hue-rotate(180deg);
  -moz-filter: hue-rotate(180deg);
  -o-filter: hue-rotate(180deg);
  -ms-filter: hue-rotate(180deg);
  filter: hue-rotate(180deg);
}
.hue-rotate3 {
  -webkit-filter: hue-rotate(270deg);
  -moz-filter: hue-rotate(270deg);
  -o-filter: hue-rotate(270deg);
  -ms-filter: hue-rotate(270deg);
  filter: hue-rotate(270deg);
}
.saturate {
  -webkit-filter: saturate(10);
  -moz-filter: saturate(10);
  -o-filter: saturate(10);
  -ms-filter: saturate(10);
  filter: saturate(10);
}
.grayscale {
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
  -o-filter: grayscale(1);
  -ms-filter: grayscale(1);
  filter: grayscale(1);
}
.sepia {
  -webkit-filter: sepia(1);
  -moz-filter: sepia(1);
  -o-filter: sepia(1);
  -ms-filter: sepia(1);
  filter: sepia(1);
}
.invert {
  -webkit-filter: invert(1);
  -moz-filter: invert(1)
  -o-filter: invert(1)
  -ms-filter: invert(1)
  filter: invert(1)
}
