html {
  overflow-y: scroll;
}

body {
  margin: 0 auto;
  padding: 0;
}

.visible {
  visibility: hidden;
}

.center {
  text-align: center;
  width: 600px;
  margin: 0 auto;
}

.center-tabs {
  width: 215px;
  margin: 0 auto;
}

.center button {
  width: 215px;
}

a, a:visited {
  color: #1368a7;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: #0d4872;
  text-decoration: none;
}

.click {
  cursor: pointer;
}

.font-satisfy {
  font-family: 'Satisfy', cursive;
  font-size: 60px;
  margin-top: 70px;
  margin-bottom: 70px;
  text-align: center;
}

#tag-title {
  text-align: center;
  color: #a5a7aa;
}

.admin p, .admin label {
  margin-bottom: 0;
}

.admin label {
  margin-top: 20px;
}

/*Login form*/

.titre {
  display: block;
  margin: 10px auto;
}

.login h2 {
  text-align: center;
}

.login input {
  text-align: center;
  width: 200px;
}

.login button {
  width: 200px;
}

.centerify h2 {
  text-align: center;
}

.centerify input {
  text-align: center;
  margin: 10px auto;
}

.centerify button {
  margin: 0 auto;
  display: block;
}

/*Header styles*/
.header {
  background-color: #fff;
  border-bottom: 1px solid #eeefef;
  width: 100%;
  height: 80px;
  padding-top: 25px;
  position: fixed;
  top: 0;
  z-index: 3;
}

.under-hearder {
  height: 80px;
}

.header nav {
  margin: 0 auto;
  width: 740px;
}

nav .link-main {
  font-family: 'Satisfy', cursive;
  font-size: 25px;
  float: left;
}

nav .link-user {
  float: right;
  font-weight: 600;
}

nav .link-picto {
  text-align: center;
  margin-top: -18px;
  display: inline-block;
  width: 120px;
  height: 80px;
}

/*Camera styles*/
.ng-camera-countdown {
  margin: 0 auto;
  width: 250px;
}

.ng-camera-countdown * {
  color: #1368a7;
  font-size: 50px;
  text-align: center;
  margin-bottom: 12px;
  margin-top: 12px;
}

#ng-camera-action,
#ng-camera-save {
  color: #fff;
  background-color: #1368a7;
  margin: 0;
  width: 100%;
  height: 100%;
}

#ng-camera-action:hover,
#ng-camera-save:hover {
  color: #fff;
  background-color: #0e5283;
}

.camera {
  margin-top: 50px;
}

.camera p {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

form#post,
form#post input {
  margin: 0;
  width: 500px;
}

form#post input {
  margin-top: -9px;
}

/*Posts style*/
.post {
  margin: 0 auto;
  background-color: #fff;
  border: 2px solid #edeeee;
  border-radius: 3px;
  margin-bottom: 60px;
  width: 504px;
}

.conv {
  text-align: center;
  background-color: #fff;
  max-width: 500px;
  margin: 0 auto;
  padding: 30px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.conv h4 {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  color: #0e5283;
  margin-top: -10px;
}

.conv h3 {
  margin-top: 0;
  text-align: center;
  margin-bottom: 30px;
}

.conv p {
  margin-top: -20px;
  text-align: center;
}

.like {
  background-color: #fff;
}

.papote {
  display: block;
  text-align: center;
  margin-bottom: 20px
}

.post-username {
  font-weight: 600;
}

.post-header * {
  display: inline;
}

.post-header {
  width: 500px;
  height: 64px;
  padding: 14px 20px;
}

.post-header #date {
  color: #a5a7aa;
  position: relative;
  float: right;
}

.post-footer {
  margin-top: -10px;
  padding: 15px 24px;
}

.post-footer * {
  display: inline;
}

.post-footer p {
  margin-bottom: 0;
}

.post .message {
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 1px solid #eeefef;
  border-bottom: 1px solid #eeefef;
}

.post .message span {
  display: block;
}

.post .message span * {
  display: inline;
}

.post .papoter {
  margin-bottom: 0;
}

.post .papoter input {
  padding: 6px 24px 6px 24px;
  margin-bottom: 15px;
  border: 0;
  width: 500px;
}

.tab {
  display: inline-block;
  padding: 10px;
  margin: -3px;
  margin-bottom: 30px;
  margin-top: 30px;
  border: 1px solid black;
  width: 100px;
  text-align: center;
  cursor: pointer;
}

.edit {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.messages {

}

.flux {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.active {
  background-color: rgba(54, 148, 224, 0.51);
}

/*Filtres photo*/
.blur {
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}
.brightness {
  -webkit-filter: brightness(5);
  -moz-filter: brightness(5);
  -o-filter: brightness(5);
  -ms-filter: brightness(5);
  filter: brightness(5);
}
.contrast {
  -webkit-filter: contrast(8);
  -moz-filter: contrast(8);
  -o-filter: contrast(8);
  -ms-filter: contrast(8);
  filter: contrast(8);
}
.hue-rotate {
  -webkit-filter: hue-rotate(90deg);
  -moz-filter: hue-rotate(90deg);
  -o-filter: hue-rotate(90deg);
  -ms-filter: hue-rotate(90deg);
  filter: hue-rotate(90deg);
}
.hue-rotate2 {
  -webkit-filter: hue-rotate(180deg);
  -moz-filter: hue-rotate(180deg);
  -o-filter: hue-rotate(180deg);
  -ms-filter: hue-rotate(180deg);
  filter: hue-rotate(180deg);
}
.hue-rotate3 {
  -webkit-filter: hue-rotate(270deg);
  -moz-filter: hue-rotate(270deg);
  -o-filter: hue-rotate(270deg);
  -ms-filter: hue-rotate(270deg);
  filter: hue-rotate(270deg);
}
.saturate {
  -webkit-filter: saturate(10);
  -moz-filter: saturate(10);
  -o-filter: saturate(10);
  -ms-filter: saturate(10);
  filter: saturate(10);
}
.grayscale {
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
  -o-filter: grayscale(1);
  -ms-filter: grayscale(1);
  filter: grayscale(1);
}
.sepia {
  -webkit-filter: sepia(1);
  -moz-filter: sepia(1);
  -o-filter: sepia(1);
  -ms-filter: sepia(1);
  filter: sepia(1);
}
.invert {
  -webkit-filter: invert(1);
  -moz-filter: invert(1)
  -o-filter: invert(1)
  -ms-filter: invert(1)
  filter: invert(1)
}
